*.userprefs
*.csproj
*.sln
*.user
*.unityproj
*.booproj
Teiru1/Temp/UnityLockfile
Teiru1/Library/metadata/6f/6f1f222afceaa7d4981748e6122e1de6
Teiru1/Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f
Teiru1/Library/metadata/f5/f5f67c52d1564df4a8936ccd202a3bd8
Teiru1/Library/metadata/8f/8fecb3eec820f6f40a2b8e02e4fea902
Teiru1/Temp/__EditModeScene
Teiru1/Library/ScriptAssemblies/
Teiru1/Library/metadata/a0/a046e0e6f8c00544b97208fc8f82059c
Teiru1/Temp/
Teiru1/Library/CurrentMaximizeLayout.dwlt
Teiru1/Library/metadata/9d/9d94af69283054749949b40059bfbb06
Teiru1/Library/metadata/
